# version: '3.8'

services:

  spark-master:
    image: spark-image
    container_name: spark-master
    build:
      context: .
      target: pyspark
    entrypoint: ['./entrypoint.sh', 'master']
    env_file:
      - .env.spark
    volumes:
      - ./data/workspace:/opt/spark/data
      - ./spark_apps:/opt/spark/apps
      - spark-logs:/opt/spark/spark-events
    ports:
      - '9090:8080'     # Master UI
      - '4041:4040'     # Spark Driver
      - '7077:7077'     # Connection with Worker
    # - '15000:15000'
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080" ]
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 5s
    networks:
      - spark-network


  spark-worker:
    image: spark-image
    # container_name: spark-worker
    entrypoint: ['./entrypoint.sh', 'worker']
    depends_on:
      spark-master:
        condition: service_healthy
    env_file:
      - .env.spark
    volumes:
      - ./data/workspace:/opt/spark/data
      - ./spark_apps:/opt/spark/apps
      - spark-logs:/opt/spark/spark-events
    # ports:
    #   - '8081:8081'
    networks:
      - spark-network


  spark-history-server:
    image: spark-image
    container_name: spark-history
    entrypoint: ['./entrypoint.sh', 'history']
    depends_on:
      spark-master:
        condition: service_healthy
    env_file:
      - .env.spark
    volumes:
      - spark-logs:/opt/spark/spark-events
    ports:
      - '18080:18080'   # Spark History Server UI
    networks:
      - spark-network


  spark-jupyter:
    image: spark-jupyter
    container_name: spark-jupyter
    build:
      context: .
      target: jupyter-notebook
    # depends_on:
      # spark-master:
      #   condition: service_healthy
      # spark-connect:
      #   condition: service_started
    volumes:
      - ./data/workspace:/opt/spark/data
      - ./spark_apps:/opt/spark/apps
      - ./notebooks:/opt/notebooks
      - spark-logs:/opt/spark/spark-events
    ports:
      - '8888:8888'   # Jupyter Notebook
      - '4040:4040'   # Spark Driver
    networks:
      - spark-network

# --------------------------------------------------------

  minio:
    image: minio/minio
    container_name: minio
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - ./data/minio_storage:/data
    ports:
      - "9000:9000"   # API for Spark and Jupyter
      - "9001:9001"   # Console UI
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - spark-network


  minio-mc:
    image: minio/mc
    container_name: minio-mc
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/raw-data;
      /usr/bin/mc mb myminio/processed-data;
      exit 0;
      "
    networks:
      - spark-network


volumes:
  spark-logs:


networks:
  spark-network:
    driver: bridge

